.plugins-catalog-container {
  border: 1px solid var(--interactive-accent);
  border-radius: var(--radius-m);
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--background-secondary);
}

.smart-plugin-settings-header .actions-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pill-padding-y);
}

.setting-component:has(.dropdown-no-options) {
  display: none;
}

/* wrap Obsidian native styles within smart plugin settings main class */
.smart-plugin-settings-main, .smart-plugin-settings-env {
  .setting-group {
    margin-top: var(--size-4-6);
    margin-bottom: var(--size-4-6);
  }
  /* polyfill */
  .setting-group .setting-items {
    background-color: var(--setting-items-background, var(--background-primary-alt));
    padding: var(--setting-items-padding, var(--size-4-5));
    border-radius: var(--setting-items-radius, var(--radius-l));
    border: var(--setting-items-border-width, 0) solid var(--setting-items-border-color, var(--background-modifier-border));
  }
}
